@* 


<ul class="navbar-nav">
    @if (Context.Session.GetString("FullName") == null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
        </li>
         <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li> 
    }
    else
    {
        <li class="nav-item dropdown" style="position: relative;">
            <span class="nav-link text-dark" style="cursor: pointer;">Welcome, @Context.Session.GetString("FullName")</span>
            <ul class="dropdown-menu" style="position: absolute; display: none; list-style-type: none; padding: 0; margin: 0; background-color: #fff; border: 1px solid #ccc;">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </li>
    }
</ul>

<script>
    // JavaScript để hiển thị và ẩn phần menu logout khi hover
    document.querySelectorAll('.nav-item.dropdown').forEach(function (dropdown) {
        dropdown.addEventListener('mouseover', function () {
            this.querySelector('.dropdown-menu').style.display = 'block';
        });

        dropdown.addEventListener('mouseleave', function () {
            this.querySelector('.dropdown-menu').style.display = 'none';
        });
    });
</script>
  *@