/* General Style */
.container {
    font-family: 'Arial', sans-serif;
}

.detail-card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.custom-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.detail-item {
    padding: 20px;
    text-align: center !important;
    transition: all 0.2s ease-in-out;
}
    .detail-item:hover {
        background-color: #f1f1f1;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
    }

.detail-icon {
    font-size: 32px;
    margin-bottom: 10px;
}


.btn-outline-primary {
    font-size: 1rem;
    font-weight: bold;
    border-radius: 30px;
    transition: all 0.2s;
}

    .btn-outline-primary:hover {
        background-color: #007bff;
        color: white;
    }
body.main-layout {
    background-color: darkgray;
}
.card-body {
    background-color: ivory;
}