.container {
    max-width: 1600px;
    width: 100%;
    overflow-x: hidden; /* Ẩn thừa nếu có */
    margin: 0 auto; /* Đảm bảo căn giữa */
    padding: 0;
}

.card-body {
    background-color: darkgray;
}

body.main-layout {
    background-color: currentColor;
}
