@model eAdministrationLabs.Dtos.Create.CreateHistoryRequestDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" >
                <label asp-for="UserId" class="control-label"></label>
                <select asp-for="UserId" class="form-control" asp-items="ViewBag.UserId" style="border: 1px solid #ccc; border-radius: 6px;"></select>
            </div>
            <div class="form-group">
                <label asp-for="RequestId" class="control-label"></label>
                <select asp-for="RequestId" class="form-control" asp-items="ViewBag.RequestId" style="border: 1px solid #ccc; border-radius: 6px;"></select>
            </div>
            <div class="form-group">
                <label asp-for="StatusRequestId" class="control-label"></label>
                <select asp-for="StatusRequestId" class="form-control" asp-items="ViewBag.StatusRequestId" style="border: 1px solid #ccc; border-radius: 6px;"></select>
            </div>
            <div class="form-group">
                <label asp-for="ChangedBy" class="control-label"></label>
                <input asp-for="ChangedBy" class="form-control" style="border: 1px solid #ccc; border-radius: 6px;" />
                <span asp-validation-for="ChangedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" style="border: 1px solid #ccc; border-radius: 6px;" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

