.container {
    max-width: 100%;
}

.table-row:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.badge {
    font-size: 0.9rem;
}

body.main-layout {
    background-color: currentColor;
}

.col-lg-10 {
    width: 120%;
}

.card-body {
    background-color: darkgray;
}
