
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@* <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav ms-auto">
            @await Html.PartialAsync("LoginPartial")

    </div>
</nav>  *@


<h1 class="mb-4">Index</h1>