@model eAdministrationLabs.Models.ViewModels.ForgotPasswordViewModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form asp-action="ForgotPassword" method="post" >
                        <h4 class="mb-3 text-center">Đặt lại mật khẩu</h4>

                        <div class="form-group mb-3">
                            <label asp-for="Email" class="form-label"></label>
                            <input asp-for="Email" class="form-control" type="email" placeholder="Nhập email của bạn" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block" style="margin-top:15px;">Gửi liên kết đặt lại</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
